.transition-wrap
  div
    div
      border-bottom: none
      padding: 0

.v-enter-active, .v-leave-active
  transition: opacity .5s
.v-enter, .v-leave-to
  opacity: 0

.startedShow
  @include squareSizing(100, #000)
.start-enter-active
  transition: opacity 2s
.start-enter
  opacity: 0

.key-enter, .key-leave-to
  opacity: 0
.key-enter-active
  transition: opacity .5s
.key-leave-active
  transition: opacity .5s
  position: absolute
  

.count-enter-active 
  transition: opacity 1s
.count-leave-active 
  transition: opacity 0.8s ease 0.2s
  position: absolute
.count-enter, .count-leave-to 
  opacity: 0


.list 
  width: 240px
  padding: 0

.item 
  display: inline-flex
  justify-content: center
  align-items: center
  margin: 4px
  width: 40px
  height: 40px
  background: #f5f5f5

.shuffle-enter-active, .shuffle-leave-active, .shuffle-move 
  transition: all 1s

.shuffle-leave-active 
  position: absolute

.shuffle-enter, .shuffle-leave-to 
  opacity: 0
  background: #f9a3b1
  transform: translateY(-30px)