body
  color: $defaultColor
h2
  color: #2e9afe

.transition
  .v-enter-active
    transition: opacity 1s
  .v-leave-active
    transition: opacity 1s

.transition
  .v-enter
    opacity: 0
  .v-leave-to
    opacity: 0


